<!-- Start Page Content -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input type="text" 
               class="form-control" 
               [placeholder]=" 'Search user...' |translate "
               (keyup)="search(txtTerm.value)"
               #txtTerm>

      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row animated fadeIn fast">
  <div class="col-12">

    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">{{ 'Loading' | translate }}</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">{{ 'Please wait' | translate }}</p>
    </div>

  </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ 'Users' | translate }} ({{ totalUsers }})</h4>
            <h6 class="card-subtitle">{{ 'Registered users' | translate }}</h6>
            <div class="table-responsive">

                <table *ngIf="user.role === 'ADMIN_ROLE'" class="table table-bordered">

                    <thead>
                        <tr>
                            <th class="w100">Avatar</th>
                            <th>{{ 'Email' | translate }}</th>
                            <th>{{ 'Name' | translate }}</th>
                            <th class="w140">{{ 'Role' | translate }}</th>
                            <th class="w100">{{ 'Status' | translate }}</th>
                            <th class="text-nowrap td-center w100">{{ 'Actions' | translate }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="td-center">
                              <img class="avatar cursor" 
                                   [src]="user.imageUrl"
                                   (click)="openModal(user)">
                            </td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name | titlecase }} {{ user.lastName | titlecase }}</td>
                            <td>
                              <select class="form-control" 
                                      [(ngModel)]="user.role"
                                      (change)="changeUserRole(user)">
                                <option value="ADMIN_ROLE">{{ 'admin' | translate }}</option>
                                <option value="USER_ROLE">{{ 'user' | translate }}</option>
                              </select>
                            </td>

                            <td>
                              <button *ngIf="user.status === 'active'" 
                                      class="btn btn-success btn-sm py-0"
                                      (click)="changeUserStatus( user )">
                                    {{ user.status | translate}}
                              </button>
                              <button *ngIf="user.status != 'active'" 
                                      class="btn btn-danger btn-sm py-0"
                                      (click)="changeUserStatus( user )">
                                    {{ user.status! | translate}}
                              </button>
                            </td>

                            <td class="text-nowrap td-center">
                                
                                <a class="cursor" data-toggle="tooltip" data-original-title="Delete"
                                   (click)="deleteUser(user)"> 
                                  <i class="fa fa-close text-danger"></i> 
                                </a>

                            </td>
                        </tr>                   
                    </tbody>

                </table>

                <table *ngIf="user.role !== 'ADMIN_ROLE'" class="table table-bordered">

                  <thead>
                      <tr>
                          <th class="w100">Avatar</th>
                          <th>Email</th>
                          <th>Name</th>
                          <th class="w100">Role</th>
                          <th class="text-nowrap td-center w100">Status</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let user of users">
                          <td class="td-center">
                            <img class="avatar cursor" 
                                 [src]="user.imageUrl"
                                 (click)="openModal(user)">
                          </td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.name }} {{ user.lastName }}</td>

                          <td>
                            <span *ngIf="user.role === 'ADMIN_ROLE'" >admin</span>
                            <span *ngIf="user.role != 'ADMIN_ROLE'" >user</span>
                          </td>

                          <td class="text-nowrap td-center">
                              
                            <span *ngIf="user.status === 'active'" class="label label-success">active</span>
                            <span *ngIf="user.status != 'active'" class="label label-danger">inactive</span>

                          </td>
                      </tr>                   
                  </tbody>

              </table>
                
            </div>

            <div *ngIf="txtTerm.value.length === 0" class="d-flex justify-content-end">
              <button (click)="pagination(-5)" class="btn btn-secondary mr-2">{{ 'Prev' | translate }}</button>           
              <button (click)="pagination(5)" class="btn btn-secondary">{{ 'Next' | translate }}</button>
            </div>

        </div>
    </div>
  </div>
</div>
<!-- End PAge Content -->