<!-- Start Page Content -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input type="text" 
               class="form-control" 
               [placeholder]=" 'Search medic...' |translate "
               (keyup)="search(txtTerm.value)"
               #txtTerm>

      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="loading">
  <div class="col-12">

    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">{{ 'Loading' | translate }}</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">{{ 'Please wait' | translate }}</p>
    </div>

  </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="!loading">
  <div class="col-12">
    <div class="card">

        <div class="card-body">

          <div class="row">
            <div class="col">           
              <h4 class="card-title">{{ 'Medics' | translate }} ({{ totalMedics }})</h4>
              <h6 class="card-subtitle">{{ 'Registered Medics' | translate }}</h6>
            </div>
            <div class="col">
              <a class="btn btn-primary float-right"
                      routerLink="/dashboard/medic/new">
                    {{ 'Create medic' | translate }}

              </a>
            </div>
          </div>

            <div class="table-responsive">
                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th class="w100">{{ 'Photo' | translate }}</th>
                            <th>{{ 'Name' | translate }}</th>
                            
                            <th class="text-nowrap td-center w100">{{ 'Actions' | translate }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let medic of medics">
                          <td class="td-center">
                            <img class="avatar cursor" 
                                 [src]="medic.image |image:'medics'" 
                                 [alt]="medic.name"
                                 (click)="openModal(medic)">
                          </td>
                          <td>{{ medic.name | titlecase}} {{ medic.lastName | titlecase }}</td>

                            <td class="text-nowrap td-center">

                                <a [routerLink]="['/dashboard/medic', medic._id]" 
                                   class="cursor mr-1" 
                                   data-toggle="tooltip" 
                                   data-original-title="Edit"> 
                                   <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                </a>

                                <a class="cursor" 
                                   data-toggle="tooltip" 
                                   data-original-title="Delete"
                                   (click)="deleteMedic( medic )"> 
                                   <i class="fa fa-close text-danger"></i> 
                                </a>
                            
                            </td>
                        </tr>                   
                    </tbody>

                </table>
            </div>

            <div *ngIf="txtTerm.value.length === 0" class="d-flex justify-content-end">
              <button (click)="pagination(-5)" class="btn btn-secondary mr-2">{{ 'Prev' | translate }}</button>           
              <button (click)="pagination(5)" class="btn btn-secondary">{{ 'Next' | translate }}</button>
            </div>

        </div>
    </div>

  </div>
</div>
<!-- End PAge Content -->