<!-- Start Page Content -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input type="text" 
               class="form-control" 
               [placeholder]=" 'Search hospital...' |translate "
               (keyup)="search(txtTerm.value)"
               #txtTerm>

      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="loading">
  <div class="col-12">

    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">{{ 'Loading' | translate }}</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">{{ 'Please wait' | translate }}</p>
    </div>

  </div>
</div>

<div class="row animated fadeIn fast"
     *ngIf="!loading">
  <div class="col-12">
    <div class="card">

        <div class="card-body">

          <div class="row">
            <div class="col">           
              <h4 class="card-title">{{ 'Hospitals' | translate }} ({{ totalHospitals }})</h4>
              <h6 class="card-subtitle">{{ 'Registered hospitals' | translate }}</h6>
            </div>
            <div class="col">
              <button class="btn btn-primary float-right"
                      (click)="createHospital()">
                    {{ 'Create hospital' | translate }}
              </button>
            </div>
          </div>

            <div class="table-responsive">
                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th class="w100">{{ 'Photo' | translate }}</th>
                            <th>{{ 'Name' | translate }}</th>      
                            <th class="text-nowrap td-center w100">{{ 'Actions' | translate }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let hospital of hospitals">
                            <td class="td-center">
                              <img class="avatar cursor" 
                                   [src]="hospital.image |image:'hospitals'" 
                                   [alt]="hospital.name"
                                   (click)="openModal(hospital)">
                            </td>
                            <td>
                              <input type="text"
                                     class="form-control"
                                     placeholder="Hospital name..."
                                     [(ngModel)]="hospital.name">
                            </td>

                            <td class="text-nowrap td-center">
                                <a (click)="updateHospital(hospital)" 
                                   class="cursor mr-1"
                                   data-toggle="tooltip" 
                                   data-original-title="Save"> 
                                  <i class="fa fa-save text-inverse m-r-10"></i> 
                                </a>
                                <a (click)="deleteHospital(hospital)"
                                   class="cursor" 
                                   data-toggle="tooltip" 
                                   data-original-title="Delete"> 
                                   <i class="fa fa-close text-danger"></i> 
                                </a>
                            </td>
                        </tr>                   
                    </tbody>

                </table>
            </div>

            <div *ngIf="txtTerm.value.length === 0" class="d-flex justify-content-end">
              <button (click)="pagination(-5)" class="btn btn-secondary mr-2">{{ 'Prev' | translate }}</button>           
              <button (click)="pagination(5)" class="btn btn-secondary">{{ 'Next' | translate }}</button>
            </div>

        </div>

    </div>
  </div>
</div>
<!-- End PAge Content -->