<div class="row row justify-content-center">
  <div class="col-md-5 col-lg-4 col-xl-3 text-center mt-3 mt-md-5">
    <a routerLink="/dashboard/medics">
      <img class="img-thumbnail img-dashboard cursor" 
           src="../../../assets/images/dashboard/medic-care.png"       
           alt="medic image">
    </a>
  </div>
  <div class="col-md-5 col-lg-4 col-xl-3 text-center mt-3 mt-md-5">
    <a routerLink="/dashboard/hospitals">
      <img class="img-thumbnail img-dashboard" 
           src="../../../assets/images/dashboard/hospital-blue.svg"  
           alt="hospitals image">
    </a>
  </div>
</div>
